button {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: inherit;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
